

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

legend{
	margin-bottom: 0;
}

#form-title{
	font-weight: bold;
	text-align: center;
}

#pas{
	font-weight: bold;
	text-align: center;
}















